<div class="col-md-9 content">
  {{#each topThreeChampions as |topChampion|}}
    {{#if topChampion}}
      <div class="col-md-4">
        <ul class="list-inline row-list-{{topChampion.id}}">
          <li class="elbow-room"><img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{topChampion.image.full}}"/></li>
          <li>
            <h3>{{topChampion.name}}</h3>
            <small>{{topChampion.title}}</small>
          </li>
        </ul>
        <div class="stats stat-border col-md-12">
          <ul class="no-bullet champion-stats">
            <li><h3>Mastery Level: {{topChampion.championLevel}}</h3></li>
            <li><h4>Champion Points: {{topChampion.championPoints}}</h4></li>
            <li><h4>Experience: {{topChampion.championPointsSinceLastLevel}}</h4></li>
            <li><h4>Highest Grade: {{if topChampion.highestGrade topChampion.highestGrade "No grade recorded"}}</h4></li>
            <li><h4>To Next Level: {{topChampion.championPointsUntilNextLevel}}</h4></li>
          </ul>
        </div>
      </div>
    {{/if}}
  {{/each}}
  <div class="col-md-12 text-center mastery-score">
    <h3>This summoner has achieved a mastery score of: {{model.masteryScore.score}}</h3>
  </div>
  <hr>
</div>{{! Content }}
{{outlet}}
